doctype html
html(lang="zh-tw")
  head
    title= pageTitle
    script(src="/static/js/jquery-1.11.1.min.js")
    script(src="/static/js/bootstrap.js")
  body
    h1 Prototype Pages:
    ul
      li with draw :
        a(
        href="/static-pages/drawback.html",
        target="_blank"
        ) drawback
      li with suspension :
        a(
        href="/static-pages/suspension.html",
        target="_blank"
        ) suspension
      li with create-vender :
        a(
        href="/static-pages/create-vender.html",
        target="_blank"
        ) create-vender
